.hero {
    position: relative;
}

.banner-img {
    width: 100%;
    min-height: 400px;
    object-fit: cover;
    object-position: top;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
}

.hero::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #000 0%, transparent 100%);
    pointer-events: none;
}

.hero-caption {
    position: absolute;
    width: 100%;
    padding-left: 6%;
    bottom: 0;
}

.caption-img {
    width: 90%;
    max-width: 420px;
    margin-bottom: 30px;
}

.hero-caption p {
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}

.hero-btns {
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}

.hero-btns .btn img {
    width: 25px;
}

.hero-btns .btn {
    border: 0;
    outline: 0;
    padding: 10px 25px;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 600;
    background: white;
    color: black;
    border-radius: 4px;
    cursor: pointer;
}

.hero-btns .btn.dark-btn {
    color: #fff;
    background: #6d6d6eb3;
}

.hero-btns .btn:hover {
    background: #ffffffbf;
}

.hero-btns .btn.dark-btn:hover {
    background: #6d6d6eb3;
}

.more-cards {
    padding-left: 6%;
}

@media (max-width: 1024px) {
    .hero-caption .title-cards {
        display: none;
    }
    .hero-btns {
        margin-bottom: 30px;
    }
}

@media (max-width: 800px) {
    .hero-caption {
        padding-left: 4%;
    }
    .caption-img {
        margin-bottom: 10px;
        width: 40%;
    }
    .hero-caption p {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .hero-btns .btn img {
        width: 20px;
    }
    .more-cards {
        padding-left: 4%;
    }
}

@media (max-width: 500px) {
    .hero-caption {
        padding-left: 4%;
        bottom: 30px;
        z-index: 10;
    }
    .caption-img {
        width: 70%;
        margin-bottom: 15px;
    }
    .hero-caption p {
        display: none;
    }
    .hero-btns .btn img {
        width: 15px;
    }
    .hero-btns .btn {
        padding: 8px 16px;
        gap: 8px;
        font-size: 14px;
    }
}
